.register_box {
  width: 7.5rem;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: space-around;
  -ms-flex-pack: space-around;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.register_nav {
  width: 6.9rem;
  height: .4rem;
  margin: 0rem auto;
  padding-top: .03rem;
}
.register_nav img {
  width: .24rem;
  height: .4rem;
}
.register_content_father {
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack:center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  margin-top: -.43rem;
}
.register_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack:center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.register_content_logo img{
  width: 3.86rem;
  height: .66rem;
}
.register_content_text1 {
  margin-top: .4rem;
  font-size: .3rem;
  color: #333333;
  letter-spacing: 0;
  line-height: .28rem;  
}
.register_content_text2 {
  margin-top: .88rem;
  font-size: .3rem;
  color: #333333;
  letter-spacing: 0;
  line-height: .3rem; 
}
.register_content_line {
  width: 6.9rem;
  margin-top: .4rem;
  border: .01rem solid #CCCCCC;
  position: relative;
}
.redline {
  width: .9rem;
  height: .06rem;
  background: #ED4248;
  border-radius: .02rem;  
  position: absolute;
  top: -0.005rem;
  left: 50%;
  margin-left: -0.45rem;
}
.register_content_form {
  width: 6.9rem;
  margin-top: .85rem;
}
.register_content_input {
  width: 6.9rem;
  height: .76rem;
  border-bottom: .01rem solid #979797;
   
}
.register_content_input img {
  width: .3rem;
  height: .36rem;
  margin-right: .22rem;
  vertical-align: middle;
}
.register_content_input input {
  width: 4.9rem;
  font-size: .26rem;
  color: #CCCCCC;
  letter-spacing: 0;
  line-height: .76rem; 
}
.register_content_input2 .s1 {
  font-size: .26rem;
  color: #ED4248;
  letter-spacing: 0;
}
.register_content_selectbox {
  margin-top: 1.2rem;
  font-size: .26rem;
  color: #585858;
  letter-spacing: 0;
  line-height: .26rem;
}
.register_content_button {
  margin-top: .3rem;
  width: 5.4rem;
  height: .9rem;
  background: #ED4248;
  border-radius: .44rem;  
  font-size: .34rem;
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: .9rem;  
  text-align: center;
}
.register_content_bottom {
  margin-top: .55rem;
  width: 5.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: space-around;
  -ms-flex-pack: space-around;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.register_content_bottom_img2,.register_content_bottom_img3 {
  width: .48rem;
  height: .4rem;
}
.register_content_bottom_img1 {
  width: .34rem;
  height: .4rem;
}